@import '/src/style/app.scss';
@import '../StyleComponent/containerSection.scss';

    .content-about {
        display: flex;
        justify-content: space-between;
        align-items: end;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: $secondary-variant;
        box-shadow: 8px 8px 20px black;
        

        .about-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: end;
        overflow: hidden;
        width: 100%;
        height: 100%;
        box-shadow: 8px 8px 20px black;
        // .flower-top-profil {
        //     position: absolute;
        //     height: 100%;
        //     width: 200px;
        //     top: 0;
        //     right: 27%;
        //     img {
        //         transform: rotate(180deg);
        //         filter: blur(0.4px);
        //     }
            
        // }
        .about-profil-img {
            position: relative;
            height: 100%;
            display: flex;
            align-items: end;
            border-radius: 0% 100% 0% 0%;
            background: $secondary;
            img {
                height: 90%;
                transform: rotateY(180deg);
                margin-left: -2px;
            }
        }
        
        
        }
        .side-about-content {
            position: relative;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            align-items: center;
            width: 40%;
            height: 100%;
            background: $secondary;
            .semi-circle {
                position: absolute;
                height: 100%;
                width: 150%;
                right: 25%;
                top: 0;
                border-radius: 100%;
                background: $primary-variant;
                z-index: 0;
                // opacity: 0.5;
            }
            .circle-profil {
                background: $primary-variant;
                    border: 6px solid $primary-variant;
                    margin: 1rem 0rem;
                    border-radius: 100% 0% 100% 100%;
                .cp {
                    position: relative;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background: $secondary-variant;
                background-image: url(../../assets/img/indrarbg.png);
                background-repeat: no-repeat;
                background-size: cover;
                }
            }
            .side-name-profil {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                h1 {
                    font-size: 20px;
                    font-weight: 700;
                    color: $text-color-variant  ;
                    text-shadow: 1px 1px 4px black;
                }
                p {
                    font-size: 12px;
                    font-weight: 300;
                    font-style: italic;
                    color: $text-color-variant;
                    text-shadow: 1px 1px 4px black;
                    span {
                        color: $secondary-variant-light
                    }
                }
            }
            .side-bar-profil {
                position: relative;
                width: 100%;
                padding-top: 1rem;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .side-bar-profil-home {
                        color: $secondary-variant-light;
                        border-bottom: 2px solid $secondary-variant-light;
                    }
                li {
                    cursor: pointer;
                    margin: 5px 0px;
                    padding: 0px 5px;
                    font-weight: 500;
                    font-style: italic;
                    color: $text-color-variant;
                    text-shadow: 1px 1px 4px black;
                }
                }
            }
            .copy-right {
                position: relative;
                display: flex;
                justify-content: center;
                text-align: center;
                width: 100%;
                padding: 2rem 1rem;
                p {
                    font-size: 12px;
                    font-weight: 300;
                    font-style: italic;
                    color: $text-color;
                    text-shadow: 2px 2px 5px black;
                }
            }
        }
    }
