    @import '/src/style/app.scss';

    .content-about {
        @include p-s-max (640px) {
            background: none;
            box-shadow: none;    
            padding-right: 2rem;
        }
        .about-content {
            @include p-s-max (640px) {
                box-shadow: none;
            }
            .about-profil-img {
                @include p-s-max (640px) {
                visibility: hidden;
                display: none;
                }
                img {
                    @include p-s-max(1400px) {
                        height: auto;
                    }
                    @include p-s-max(1280px) {
                        visibility: hidden;
                        // width: 0px;
                    }
                }
            }
        }
        .side-about-content {
            @include p-s-max (900px) {
                width: 38px;
                background: none;
                height: 100%;
                overflow-y: auto;
            }
            @include p-s-max (600px) {
                overflow: hidden;
            }
            .semi-circle {
                @include p-s-max (900px) {
                    visibility: hidden;
                    display: none;
                }
            }
            .circle-profil {
                @include p-s-max (900px) {
                    visibility: hidden;
                    display: none;
                }
            }
            .side-name-profil {
                    @include p-s-max (900px) {
                        visibility: hidden;
                        display: none;
                    }
                }
            }
            .side-bar-profil {
                @include p-s-max (900px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // overflow: auto;
                }
                ul {
                    @include p-s-max (900px) {
                        a {
                            padding: 8px 0px;
                        }
                        li {
                            background: $primary-variant;   
                            border-radius: 0px 100% 100% 0px;
                            border-top: 2px solid $secondary;
                            border-right: 2px solid $secondary;
                            border-bottom: 2px solid $secondary;
                            writing-mode: vertical-lr;
                            @include p-s-max (640px) {
                                font-size: 12px;
                            }
                            @include p-s-max (900px) {
                                font-size: 14px;
                            }
                            &:hover::after {
                                display: none;
                            }
                            &::after {
                                display: none;
                            }
                            &:hover::before {
                                height: 100%;
                                background: $secondary-variant-light;
                            }
                            &::before {
                                content: " ";
                            display: flex;
                            position: absolute;
                            margin: auto;
                            top: 0;
                            left: 0;
                            bottom: 0px;
                            width: 3px;
                            height: 0%;
                            transition: 0.3s;
                            border-radius: 1px;
                            z-index: -10px;
                            }
                        }
                    } 
                }
            }
            .copy-right {
                @include p-s-max (900px) {
                    display: none;
                    visibility: hidden;
                }
            }
        }