.container-section {
    
    width: calc(100vw - 96px);
    height: 100vh;
    min-height: 600px;
    padding: 2rem 8rem 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container-section {
    @include p-s-max (1500px) {
        padding: 2rem 6rem 4rem 6rem;
    }
    @include p-s-max (1100px) {
        padding: 2rem 4rem 6rem 4rem;
    }
    @include p-s-max (768px) {
        width: 100%;
    }
    @include p-s-max (640px) {
        padding: 2rem 0rem 4rem 0rem;
            position: relative;
            &::after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url(../../assets/img/bg-welcome.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .1;
                z-index: -10;
            }
            
    }
}