@import '../app.scss';

.content-achievement {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $secondary;
    .achievement-content {
        height: 100%;
        width: 100%;    
        display: flex;
        .container-achievement {
            height: 100%;
            width: 100%;
            padding: 1rem 1rem;
            .achievement-img {
                height: 80%;
                width: 100%;
                background: grey;
            }
            .achievement-des {
                height: 20%;
                width: 100%;
                background: red;
            }
        }
        .container-choice {
            height: 100%;
            width: 450px;
            background: $secondary-variant;
            .choice-des {
                position: relative;
                height: 25%;
                width: 100%;
                // background: $secondar;
                overflow: hidden;
                box-shadow: 0px 20px 20px -10px black;
                z-index: 1;
                ::before {
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background: $primary-variant;
                    z-index: 1;
                    left: 0;
                    top: 50%;
                    bottom: 0;
                    right: 0;
                }
            }

            .choice {
                position: relative;
                height: 75%;
                width: 100%;
                padding:  1rem 0rem;
                padding-left: 1rem; 
                padding-right: 5px;
                overflow-x: auto;
                border-bottom: 5px solid $secondary-variant ;
                &::-webkit-scrollbar {
                    width: 0px;
                }
                .choice-isi {
                    display: flex;
                    box-sizing: border-box;
                    width: 100%;
                    height: 90px;
                    border-radius: 8px;
                    background: $primary-variant;
                    transition: 0.3s;
                    margin: 4px 0rem;
                    padding: 10px;
                    overflow: hidden;
                    &:hover {
                        transform: translateX(-1rem);
                    }
                    .img-choice {
                        display: block;
                        width: 100px;
                        height: 100%;
                        margin-right: 10px;
                        border-radius: 4px;
                        background: white;
                    }
                    .des-choice {
                        display: block;
                        width: 80%;
                        height: 100%;
                        overflow-x: auto;
                        &::-webkit-scrollbar {
                            width: 0px;
                            
                        }
                        h1 {
                            color: $text-color;
                            font-size: 12px;
                            font-weight: 600;
                        }
                        p {
                            color: $text-color-variant;
                            font-size: 10px;
                        }
                    }   
                }
            }
        }
    }
}