.span-left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 40px;
    background: black;
    opacity: 1;
    z-index: -10;
    transform: skewX(-20deg) translateX(15px);
}

.span-left-active {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 40px;
    background: black;
    opacity: 1;
    z-index: -10;
    transform: skewX(-20deg) translateX(15px);
    animation: 8s linear infinite spanBottomLeftRight;
    &::after {
        content: ' ';
        height: 60px;
        width: 35px;
        position: absolute;
    right: 0;
    bottom: 0;
    background: black;
    }
}

.span-right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 64px;
    width: 40px;
    background: black;
    opacity: 1;
    z-index: -10;
    transform: skewX(20deg) translateX(-15px);

}
.span-right-active {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 64px;
    width: 40px;
    background: black;
    opacity: 1;
    z-index: -10;
    transform: skewX(20deg) translateX(-15px);
    animation: 8s linear infinite spanBottomLeftRight;
    &::after {
        content: ' ';
        height: 60px;
        width: 35px;
        position: absolute;
    left: 0;
    bottom: 0;
    background: black;
    }
}

@keyframes spanBottomLeftRight {
    0% {
        background: aqua;
    }
    25% {
        background: rgb(255, 61, 223);
    }
    50% {
        background: yellow;
    }
    75% {
        background: rgb(0, 255, 0);
    }
    100% {
        background: aqua;
    }
}