@mixin layar($value_content) {
    @media screen and (max-width: ($value_content)) {
        @content;
    }
}

.container-animate {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 300px;
    width: 360px;
    border-radius: 4px;
    background: rgb(30, 41, 59);

    .container-profil {
        position: absolute;
        animation: container-profil linear 5s forwards ;
        .profil {
            height: auto;
            width: 100px;
            animation: profil linear 5s forwards ;
            img {
                width: 100px;
            }
        }
    }

    .text-profil {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 65%;
        padding: 0rem;
        animation: text-profil linear 3s forwards ;
        animation-delay: 5s;
        .description {

        }
        .name {

        }
        .job {

        }
    }
}

@keyframes container-profil {
    0% {
        

        top: 0;
        left: 0;
        width: 100px;
        display: flex;
        justify-content: center;
    }
    20% {
        top: 0;
        left: 0;
        width: 100px;
        display: flex;
        justify-content: center;
    }
    40% {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    60% {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 0%;
        overflow: hidden;
    }
    80% {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    100% {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@keyframes profil {
    0% {
        width: 100px;
        height: 120px;
        overflow: hidden;
        border-radius: 0%;
    }

    20% {
        width: 100px;
        height: 120px;
        overflow: hidden;
        border-radius: 0%;
    }

    40% {
        width: 100px;
        height: 120px;
        overflow: hidden;
        border-radius: 0%;
    }

    60% {
        width: 100px;
        height: 120px;
        overflow: hidden;
        border-radius: 0%;
    }

    80% {
        width: 100px;
        height: 120px;
        overflow: hidden;
        border-radius: 100%;
    }

    100% {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100%;
    }
}

@keyframes text-profil {
    
    0%{
        bottom: 0;
        right: 0;
        width: 100%;
        height: 65%;
        padding: 0rem;
    }

    20% {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 65%;
        padding: 0rem;
        align-items: start;
    }
    40%{
        bottom: 0;
        right: 0;
        width: 100%;
        height: 65%;
        padding: 1rem;
        align-items: center;
    }

    60% {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 65%;
        padding: 1rem;
        align-items: center;
    }
    80% {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 65%;
        padding: 1rem;
        align-items: center;
    }
    100%{
        bottom: 0;
        right: 0;
        width: 100%;
        height: 65%;
        padding: 1rem;
        align-items: center;
    }
}