.container-pw {
    max-width: 1000px;
    height: 100%;
    position: relative;
}
.bg-p-l {
    background-image: url(./../../assets/img/bg-profil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
