@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 0.3px solid red; */
  font-family: 'poppins';
}

body {
  background-image: url(./assets/img/bg-body.jpg);
  background-size: 100%;
}

@media only screen and (max-width: 640px) {
  body {
    background: #222222;
    background-image: none;
  }
}
