@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 0.3px solid red; */
  font-family: 'poppins';
}

body {
  background-image: url(./assets/img/bg-body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
