@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 0.3px solid red; */
  font-family: 'poppins';
  scroll-behavior: smooth;
}

body {
  /* overflow: hidden; */
}

body::after {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -99999;
  background-image: url(./assets/img/bg-body.jpg);
  background-size: 100%;
}

@media only screen and (max-width: 640px) {
  body {
    background: #222222;
    background-image: none;
  }
}
