@import '/src/style/app.scss';

.icon-navbar {
    height: 65px;
    width: 65px;
    animation: 8s linear infinite icons;
}

.span-navbar-active {
    position: absolute;
    height: 20px;
    width: 35px;
    top: 0;
    right: 1px;
    margin-top: -20px;
    background: $primary-variant;
    border-radius: 0 0 100% 0;
    box-shadow: 5px 5px 0 5px $primary;
    &::before {
    content: " ";
    position: absolute;
    height: 20px;
    width: 35px;
    bottom: 0;
    right: 0px;
    margin-bottom: -100px;
    background: $primary-variant;
    border-radius: 0 100% 0 0;
    box-shadow: 5px -5px 0 5px $primary;
    }
}

@keyframes icons {
    0% {
        color: aqua;
        rotate: 0deg;
    }
    25% {
        color: rgb(255, 61, 223);
        rotate: 90deg;
    }
    50% {
        color: yellow;
        rotate: 180deg;
    }
    75% {
        color: rgb(0, 255, 0);
        rotate: 270deg;
    }
    100% {
        color: aqua;
        rotate: 360deg;
    }
}